config APP_PROC
    bool "proc (from AADL)"
    default n
    select APP_CAMKES_EXECUTIVE
    help
        proc (from AADL).

config APP_PROC_TB_DEBUG
    bool "Enable trusted build debugging for the PROC application"
    default n
    depends on APP_PROC && PRINTING
    help
        Enable trusted build debugging for the PROC application.