/**************************************************************************
  Copyright (c) 2013-2016 Rockwell Collins and the University of
  Minnesota. Developed with the sponsorship of the Defense Advanced
  Research Projects Agency (DARPA).

  Permission is hereby granted, free of charge, to any person
  obtaining a copy of this data, including any software or models
  in source or binary form, as well as any drawings,
  specifications, and documentation (collectively "the Data"), to
  deal in the Data without restriction, including without
  limitation the rights to use, copy, modify, merge, publish,
  distribute, sublicense, and/or sell copies of the Data, and to
  permit persons to whom the Data is furnished to do so, subject to
  the following conditions:

  The above copyright notice and this permission notice shall be
  included in all copies or substantial portions of the Data.

  THE DATA IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
  OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS, SPONSORS,
  DEVELOPERS, CONTRIBUTORS, OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
  CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
  CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE DATA OR THE USE OR OTHER DEALINGS IN THE
  DATA.
 **************************************************************************/

/**************************************************************************

  ***AUTOGENERATED CODE: DO NOT MODIFY***

This header file contains the CAmkES component definition for the
AADL thread implementation AutomationRequestValidatorService.

 **************************************************************************/

import <Timer.idl4>;
import <tb_Monitor_UXTASK__TaskInitialized_i_1.idl4>;

import <tb_Monitor_UXTASK__TaskAutomationRequest_i_1.idl4>;

import <tb_Monitor_UXTASK__UniqueAutomationResponse_i_1.idl4>;

import <tb_Monitor_CMASI__OperatingRegion_i_1.idl4>;

import <tb_Monitor_IMPACT__ImpactAutomationResponse_i_1.idl4>;

import <tb_Monitor_CMASI__AutomationResponse_i_1.idl4>;
import <tb_Monitor_CMASI__AutomationResponse_i_1.idl4>;
import <tb_Monitor_CMASI__AutomationResponse_i_1.idl4>;
import <tb_Monitor_CMASI__AutomationResponse_i_1.idl4>;
import <tb_Monitor_CMASI__AutomationResponse_i_1.idl4>;

import <tb_Monitor_UXTASK__UniqueAutomationRequest_i_1.idl4>;
import <tb_Monitor_UXTASK__UniqueAutomationRequest_i_1.idl4>;
import <tb_Monitor_UXTASK__UniqueAutomationRequest_i_1.idl4>;
import <tb_Monitor_UXTASK__UniqueAutomationRequest_i_1.idl4>;
import <tb_Monitor_UXTASK__UniqueAutomationRequest_i_1.idl4>;


import <CMASI__OperatingRegion_i_writer.idl4>;

import <CMASI__Task_i_writer.idl4>;

import <CMASI__SearchTask_i_writer.idl4>;

import <UXTASK__TaskAutomationRequest_i_writer.idl4>;

import <IMPACT__ImpactAutomationRequest_i_writer.idl4>;

import <CMASI__MustFlyTask_i_writer.idl4>;

import <UXTASK__UniqueAutomationRequest_i_writer.idl4>;

import <CMASI__AutomationRequest_i_writer.idl4>;

import <CMASI__RemoveTasks_i_writer.idl4>;

import <CMASI__LineSearchTask_i_writer.idl4>;

import <IMPACT__AreaOfInterest_i_writer.idl4>;

import <IMPACT__GroundVehicleState_i_writer.idl4>;

import <CMASI__PointSearchTask_i_writer.idl4>;

import <UXTASK__UniqueAutomationResponse_i_writer.idl4>;

import <IMPACT__SurfaceVehicleConfiguration_i_writer.idl4>;

import <UXTASK__TaskInitialized_i_writer.idl4>;

import <CMASI__AirVehicleConfiguration_i_writer.idl4>;

import <CMASI__KeepInZone_i_writer.idl4>;

import <CMASI__AirVehicleState_i_writer.idl4>;

import <IMPACT__SurfaceVehicleState_i_writer.idl4>;

import <IMPACT__PointOfInterest_i_writer.idl4>;

import <CMASI__AreaSearchTask_i_writer.idl4>;

import <UXTASK__TaskAutomationResponse_i_writer.idl4>;

import <CMASI__ServiceStatus_i_writer.idl4>;

import <CMASI__LoiterTask_i_writer.idl4>;

import <CMASI__AutomationResponse_i_writer.idl4>;

import <CMASI__KeepOutZone_i_writer.idl4>;

import <IMPACT__GroundVehicleConfiguration_i_writer.idl4>;

import <IMPACT__LineOfInterest_i_writer.idl4>;

import <IMPACT__ImpactAutomationResponse_i_writer.idl4>;



component AutomationRequestValidatorService {
    include <tb_uxas_processor_types.h>;
    control;
    has semaphore tb_dispatch_sem;

    uses tb_Monitor_UXTASK__TaskInitialized_i_1 tb_TaskInitialized_in;
    consumes QueuedData tb_TaskInitialized_in_notification;
    uses tb_Monitor_CMASI__KeepOutZone_i_1 tb_KeepOutZone_in;
    consumes QueuedData tb_KeepOutZone_in_notification;
    uses tb_Monitor_IMPACT__SurfaceVehicleConfiguration_i_1 tb_SurfaceVehicleConfiguration_in;
    consumes QueuedData tb_SurfaceVehicleConfiguration_in_notification;
    uses tb_Monitor_CMASI__AirVehicleConfiguration_i_1 tb_AirVehicleConfiguration_in;
    consumes QueuedData tb_AirVehicleConfiguration_in_notification;
    uses tb_Monitor_IMPACT__AreaOfInterest_i_1 tb_AreaOfInterest_in;
    consumes QueuedData tb_AreaOfInterest_in_notification;
    uses tb_Monitor_CMASI__AutomationRequest_i_1 tb_AutomationRequest_in;
    consumes QueuedData tb_AutomationRequest_in_notification;
    uses tb_Monitor_IMPACT__GroundVehicleState_i_1 tb_GroundVehicleState_in;
    consumes QueuedData tb_GroundVehicleState_in_notification;
    uses tb_Monitor_UXTASK__TaskAutomationRequest_i_1 tb_TaskAutomationRequest_in;
    consumes QueuedData tb_TaskAutomationRequest_in_notification;
    uses tb_Monitor_UXTASK__UniqueAutomationResponse_i_1 tb_UniqueAutomationResponse_in;
    consumes QueuedData tb_UniqueAutomationResponse_in_notification;
    uses tb_Monitor_IMPACT__PointOfInterest_i_1 tb_PointOfInterest_in;
    consumes QueuedData tb_PointOfInterest_in_notification;
    uses tb_Monitor_CMASI__RemoveTasks_i_1 tb_RemoveTasks_in;
    consumes QueuedData tb_RemoveTasks_in_notification;
    uses tb_Monitor_CMASI__Task_i_1 tb_Task_in;
    consumes QueuedData tb_Task_in_notification;
    uses tb_Monitor_CMASI__OperatingRegion_i_1 tb_OperatingRegion_in;
    consumes QueuedData tb_OperatingRegion_in_notification;
    uses tb_Monitor_IMPACT__GroundVehicleConfiguration_i_1 tb_GroundVehicleConfiguration_in;
    consumes QueuedData tb_GroundVehicleConfiguration_in_notification;
    uses tb_Monitor_CMASI__AirVehicleState_i_1 tb_AirVehicleState_in;
    consumes QueuedData tb_AirVehicleState_in_notification;
    uses tb_Monitor_IMPACT__SurfaceVehicleState_i_1 tb_SurfaceVehicleState_in;
    consumes QueuedData tb_SurfaceVehicleState_in_notification;
    uses tb_Monitor_CMASI__KeepInZone_i_1 tb_KeepInZone_in;
    consumes QueuedData tb_KeepInZone_in_notification;
    uses tb_Monitor_IMPACT__ImpactAutomationRequest_i_1 tb_ImpactAutomationRequest_in;
    consumes QueuedData tb_ImpactAutomationRequest_in_notification;
    uses tb_Monitor_IMPACT__LineOfInterest_i_1 tb_LineOfInterest_in;
    consumes QueuedData tb_LineOfInterest_in_notification;
    uses tb_Monitor_CMASI__ServiceStatus_i_1 tb_ServiceStatus_in;
    consumes QueuedData tb_ServiceStatus_in_notification;
    uses tb_Monitor_CMASI__SearchTask_i_1 tb_SearchTask_in;
    consumes QueuedData tb_SearchTask_in_notification;
    uses tb_Monitor_CMASI__AreaSearchTask_i_1 tb_AreaSearchTask_in;
    consumes QueuedData tb_AreaSearchTask_in_notification;
    uses tb_Monitor_CMASI__LineSearchTask_i_1 tb_LineSearchTask_in;
    consumes QueuedData tb_LineSearchTask_in_notification;
    uses tb_Monitor_CMASI__LoiterTask_i_1 tb_LoiterTask_in;
    consumes QueuedData tb_LoiterTask_in_notification;
    uses tb_Monitor_CMASI__MustFlyTask_i_1 tb_MustFlyTask_in;
    consumes QueuedData tb_MustFlyTask_in_notification;
    uses tb_Monitor_CMASI__PointSearchTask_i_1 tb_PointSearchTask_in;
    consumes QueuedData tb_PointSearchTask_in_notification;
    uses tb_Monitor_IMPACT__ImpactAutomationResponse_i_1 tb_ImpactAutomationResponse_out0;

    uses tb_Monitor_CMASI__AutomationResponse_i_1 tb_AutomationResponse_out0;
    uses tb_Monitor_CMASI__AutomationResponse_i_1 tb_AutomationResponse_out1;
    uses tb_Monitor_CMASI__AutomationResponse_i_1 tb_AutomationResponse_out2;
    uses tb_Monitor_CMASI__AutomationResponse_i_1 tb_AutomationResponse_out3;
    uses tb_Monitor_CMASI__AutomationResponse_i_1 tb_AutomationResponse_out4;

    uses tb_Monitor_UXTASK__UniqueAutomationRequest_i_1 tb_UniqueAutomationRequest_out0;
    uses tb_Monitor_UXTASK__UniqueAutomationRequest_i_1 tb_UniqueAutomationRequest_out1;
    uses tb_Monitor_UXTASK__UniqueAutomationRequest_i_1 tb_UniqueAutomationRequest_out2;
    uses tb_Monitor_UXTASK__UniqueAutomationRequest_i_1 tb_UniqueAutomationRequest_out3;
    uses tb_Monitor_UXTASK__UniqueAutomationRequest_i_1 tb_UniqueAutomationRequest_out4;




}
