/**************************************************************************
  Copyright (c) 2013-2016 Rockwell Collins and the University of
  Minnesota. Developed with the sponsorship of the Defense Advanced
  Research Projects Agency (DARPA).

  Permission is hereby granted, free of charge, to any person
  obtaining a copy of this data, including any software or models
  in source or binary form, as well as any drawings,
  specifications, and documentation (collectively "the Data"), to
  deal in the Data without restriction, including without
  limitation the rights to use, copy, modify, merge, publish,
  distribute, sublicense, and/or sell copies of the Data, and to
  permit persons to whom the Data is furnished to do so, subject to
  the following conditions:

  The above copyright notice and this permission notice shall be
  included in all copies or substantial portions of the Data.

  THE DATA IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
  OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS, SPONSORS,
  DEVELOPERS, CONTRIBUTORS, OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
  CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
  CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE DATA OR THE USE OR OTHER DEALINGS IN THE
  DATA.
 **************************************************************************/

/**************************************************************************

  ***AUTOGENERATED CODE: DO NOT MODIFY***

This header file contains the CAmkES component definition for the
AADL thread implementation BlockadeTask.

 **************************************************************************/

import <Timer.idl4>;
import <UXTASK__TaskImplementationRequest_i_writer.idl4>;

import <IMPACT__SurfaceVehicleState_i_writer.idl4>;

import <CMASI__AirVehicleState_i_writer.idl4>;

import <UXTASK__TaskActive_i_writer.idl4>;

import <UXTASK__TaskComplete_i_writer.idl4>;

import <UXTASK__UniqueAutomationRequest_i_writer.idl4>;

import <CMASI__EntityConfiguration_i_writer.idl4>;

import <UXTASK__SensorFootprintRequests_i_writer.idl4>;

import <CMASI__VehicleActionCommand_i_writer.idl4>;

import <UXTASK__TaskPlanOptions_i_writer.idl4>;

import <UXTASK__SensorFootprintResponse_i_writer.idl4>;

import <ROUTE__RouteResponse_i_writer.idl4>;

import <IMPACT__GroundVehicleConfiguration_i_writer.idl4>;

import <CMASI__EntityState_i_writer.idl4>;

import <ROUTE__RouteRequest_i_writer.idl4>;

import <IMPACT__GroundVehicleState_i_writer.idl4>;

import <UXNATIVE__CreateNewService_i_writer.idl4>;

import <UXTASK__UniqueAutomationResponse_i_writer.idl4>;

import <UXTASK__TaskImplementationResponse_i_writer.idl4>;

import <IMPACT__SurfaceVehicleConfiguration_i_writer.idl4>;

import <CMASI__AirVehicleConfiguration_i_writer.idl4>;

import <UXTASK__TaskInitialized_i_writer.idl4>;



component BlockadeTask {
    include <tb_uxas_processor_types.h>;
    control;
    has semaphore tb_dispatch_sem;

    uses tb_Monitor_UXNATIVE__CreateNewService_i_1 tb_CreateNewService_in;
    consumes QueuedData tb_CreateNewService_in_notification;
    uses tb_Monitor_IMPACT__GroundVehicleConfiguration_i_1 tb_GroundVehicleConfiguration_in;
    consumes QueuedData tb_GroundVehicleConfiguration_in_notification;
    uses tb_Monitor_CMASI__EntityConfiguration_i_1 tb_EntityConfiguration_in;
    consumes QueuedData tb_EntityConfiguration_in_notification;
    uses tb_Monitor_IMPACT__SurfaceVehicleConfiguration_i_1 tb_SurfaceVehicleConfiguration_in;
    consumes QueuedData tb_SurfaceVehicleConfiguration_in_notification;
    uses tb_Monitor_CMASI__AirVehicleConfiguration_i_1 tb_AirVehicleConfiguration_in;
    consumes QueuedData tb_AirVehicleConfiguration_in_notification;
    uses tb_Monitor_CMASI__EntityState_i_1 tb_EntityState_in;
    consumes QueuedData tb_EntityState_in_notification;
    uses tb_Monitor_UXTASK__TaskImplementationRequest_i_1 tb_TaskImplementationRequest_in;
    consumes QueuedData tb_TaskImplementationRequest_in_notification;
    uses tb_Monitor_IMPACT__GroundVehicleState_i_1 tb_GroundVehicleState_in;
    consumes QueuedData tb_GroundVehicleState_in_notification;
    uses tb_Monitor_UXTASK__UniqueAutomationRequest_i_1 tb_UniqueAutomationRequest_in;
    consumes QueuedData tb_UniqueAutomationRequest_in_notification;
    uses tb_Monitor_UXTASK__UniqueAutomationResponse_i_1 tb_UniqueAutomationResponse_in;
    consumes QueuedData tb_UniqueAutomationResponse_in_notification;
    uses tb_Monitor_IMPACT__SurfaceVehicleState_i_1 tb_SurfaceVehicleState_in;
    consumes QueuedData tb_SurfaceVehicleState_in_notification;
    uses tb_Monitor_CMASI__AirVehicleState_i_1 tb_AirVehicleState_in;
    consumes QueuedData tb_AirVehicleState_in_notification;
    uses tb_Monitor_UXTASK__SensorFootprintResponse_i_1 tb_SensorFootprintResponse_in;
    consumes QueuedData tb_SensorFootprintResponse_in_notification;
    uses tb_Monitor_ROUTE__RouteResponse_i_1 tb_RouteResponse_in;
    consumes QueuedData tb_RouteResponse_in_notification;



}
